set(autostart ${PLUGIN_PROCESSWATCHER_AUTOSTART})
set(preconditions Platform)
set(callsign "org.rdk.ProcessWatcher")

if(PLUGIN_PROCESSWATCHER_STARTUPORDER)
set(startuporder ${PLUGIN_PROCESSWATCHER_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode    ${PLUGIN_PROCESSWATCHER_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()

ans(configuration)
