#This file is read at buildtime
set(autostart true)
set(preconditions platform)
set(callsign "org.rdk.ResourceMonitor")

if(PLUGIN_RESOURCEMONITOR_STARTUPORDER)
set (startuporder ${PLUGIN_RESOURCEMONITOR_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_RESOURCEMONITOR_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()

ans(configuration)
